body {
  background-color: black;
  color: white;
  font-size: 30px;
}

h1 {
  text-align: center;
}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.field {
  margin: 0px 20px;
  border: 3px solid white;
  padding: 10px 20px;
  border-radius: 20px;
}